{% extends 'base.html.twig' %}

{% block title %}Medecins{% endblock %}

{% block body %}
    <h1>Medecins</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medecin.id }}</td>
            </tr>
            <tr>
                <th>Nom_med</th>
                <td>{{ medecin.nomMed }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ medecin.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ medecin.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medecins_index') }}">back to list</a>

    <a href="{{ path('app_medecins_edit', {'id': medecin.id}) }}">edit</a>

    {{ include('medecins/_delete_form.html.twig') }}
{% endblock %}
